.portfolio__container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2.5rem;
}

.portfolio__content {
  padding: 20px;
}

.portfolio__item {
  display: flex;
  align-items: center;
  background: rgb(194, 194, 194);
  padding: 1.3rem 10px;
  border-radius: 2rem;
  border: 1px solid transparent;
  transition: var(--transition);
}
.portfolio__item:nth-child(2n) {
  flex-direction: row-reverse;
}

.portfolio__item:hover {
  border-color: var(--color-primary-variant);
  background: transparent;
}

.portfolio__item-image {
  border-radius: 1.5rem;
  overflow: hidden;
  height: 30%;
}

.portfolio__item h3 {
  margin: 2rem 0;
}

.portfolio__item p {
  margin: 0 0 1.2rem 0;
  font-size: 0.9rem;
}

.portfolio__item-cta {
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
}

.portfolio__item-content {
  height: 50%;
}
