.about__container {
  height: fit-content;
}

.about__content {
  gap: 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.about__cards {
  margin-bottom: 40px;
  min-width: 320px;
  display: flex;

  flex-direction: column;
}
.about__detail {
  min-width: 50%;
  font-size: 16px;
  width: 600px;
  max-width: 100% !important;
}
.about__card {
  margin-bottom: 20px;
  background: var(--color-primary-variant);
  border: 1px solid transparent;
  border-radius: 1rem;
  padding: 2rem;
  height: fit-content;
  height: 200px;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  transition: var(--transition);
}

.experience__details-icon {
  color: var(--color-light);
}
.about__icon {
  color: var(--color-light);
  font-size: 2rem;
  margin-bottom: 1rem;
}
h5 {
  color: var(--color-primary) !important;
}

.about__cards h5 {
  font-size: 1rem;
  color: var(--color-light) !important;
}

.about__card small {
  font-size: 0.9rem;
  color: var(--color-light);
}

.about__content p {
  margin: 0 0 1.5rem;
  color: var(--color-primary);
}

@media screen and (max-width: 1140px) {
  .about__container {
    grid-template-columns: 1fr;
    gap: 0;
  }

  .about__me {
    width: 50%;
    margin: 2rem auto 4rem;
  }
  .about__cards {
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }
  .about__card {
    min-width: 48%;
  }
  .about__detail {
    min-width: 100%;
  }

  .about__content p {
    margin: 1rem 0 1.5rem;
  }
}

@media screen and (max-width: 600px) {
  .about__me {
    width: 65%;
    margin: 0rem auto 3rem;
  }

  .about__card {
    min-width: 100%;
  }

  .about__cards {
    flex-direction: column;
  }

  .about__cards {
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }

  .about__content p {
    margin: 1.5rem 0;
  }
}
